@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: Roboto, sans-serif;
  }

  @media print {
    body,
    main,
    article {
      margin: 0;
      padding: 0;
      box-shadow: none;
      border: 0;
    }
  }

  article ol {
    @apply list-decimal pl-7;
  }

  article ul {
    @apply list-disc pl-7;
  }
}
